

 <h2 style="color:red"> The New Student Information  </h2>
{{#each student}}

 <p> Student id: {{student.studId}} </p>

<p> Student name: {{student.name}} </p> 

<p> Program: {{student.program}} </p> 

<p> GPA: {{student.gpa}}  </p> 

{{/each}}